<launch>

    <group>
        <arg name="tf" default="-1 0 1.05 0 0 0.383 0.924" />
        <arg name="header_frame_id" default="world" />
        <arg name="child_frame_id" default="base" />

        <node pkg="rl" type="static_tf.py" name="tf_world_to_base" output="screen">
            <param name="tf" value="$(arg tf)" />
            <param name="header_frame_id" value="$(arg header_frame_id)" />
            <param name="child_frame_id" value="$(arg child_frame_id)" />
        </node>
    </group>

    <group>
        <arg name="tf" default="0.5 0.5 0 0 0 -0.383 0.924" />
        <arg name="header_frame_id" default="base" />
        <arg name="child_frame_id" default="aruco_locate" />

        <node pkg="rl" type="static_tf.py" name="tf_base_to_aruco_locate" output="screen">
            <param name="tf" value="$(arg tf)" />
            <param name="header_frame_id" value="$(arg header_frame_id)" />
            <param name="child_frame_id" value="$(arg child_frame_id)" />
        </node>
    </group>

</launch>